<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mute Bundesliga</title>

<style>
{% include "../_css/style.css" %}
</style>

<main>
	<h1>Mute tweets about Bundesliga matches using this regex:</h1>
	<pre><code>{{ regex }}</code></pre>
</main>
