<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mute Bundesliga</title>
<script src="https://gitcdn.link/cdn/sudodoki/copy-button/v2.0.0/bundled.min.js"></script>
<style>
{% include "../_css/style.css" %}
</style>

<main>
	<h1>Mute tweets about Bundesliga matches using this regex:</h1>
	<pre><code id="regex">{{ regex }}</code></pre>
	<copy-button target-element="#regex">Copy to clipboard</copy-button>
</main>

<footer class="ribbon">
	<a href="https://github.com/mrcgrtz/mute-bundesliga">Fork me on GitHub</a>
</footer>
