@import url('http://fonts.googleapis.com/css?family=Cabin+Condensed:500&text=Fork%20me%20on%20GitHub');

html {
	height: 100%;
	color: slategray;
	background-color: ghostwhite;
	font-family: 'Trebuchet MS', sans-serif;
	text-align: center;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 1em;
	height: 100%;
	overflow: hidden;
}

main {
	padding: 1em;
	background-color: white;
}

h1 {
	font-size: 1em;
	font-weight: normal;
}

pre {
	color: rebeccapurple;
	font-size: 3rem;
	white-space: normal;
}

.ribbon {
	position: absolute; 
	inset-block-start: 42px;
	inset-inline-end: -42px;
	inline-size: 200px;
	padding-block: 1px;
	color: ghostwhite;
	background-color: black;
	text-align: center;
	font-family: 'Cabin Condensed', sans-serif;
	font-weight: 500;
	box-shadow: 0 0 10px rgb(0 0 0 / 50%);
	transform: rotate(45deg);
}

.ribbon a:link,
.ribbon a:visited, 
.ribbon a:hover,
.ribbon a:focus,
.ribbon a:active {
	display: block;
	padding-block: 1px;
	block-size: 1.5rem;
	line-height: 1.5;
	color: inherit;  
	text-decoration: none;
	border: 1px solid rgb(255 255 255 / 30%);
	text-shadow: 0 0 10px rgb(0 0 0 / 30%);
}
